#index-body {
  #scroller {
    overflow: scroll;
    border: 1px solid black;
    height: 25vh;
    width: 40vw;
    min-width: 295px;
    min-height: 180px;
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
    transition: all 0.5s;

    #viewport {
      width: 560px;
      height: 290px;

      box-sizing: border-box;
      .dropdown-button.dropdown-2 {
        margin-top: 8rem;
        margin-left: 16rem;
      }
      .dropdown-button.dropdown-1 {
        margin-top: 1px;
        margin-left: 16rem;
      }
    }
  }

  #drop-btn {
    width: 4rem;
    cursor: pointer;
    margin-top: 7rem;
    margin-left: 18rem;
  }

  .dropdown-button {
    padding: 0.3rem;
    margin: 0.2rem;

    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
  }

  .dropdown-panel {
    min-width: 12rem;
    min-height: 7rem;
  }

  .second-panel {
    height: unset;
    min-height: 4rem;
    width: unset;
    min-width: 4rem;
  }
}