#stacking-context-page {
  border: 1px solid lightgrey;
  position: relative;
  #z1 {
    position: relative;
    width: 5rem;
    height: 4rem;
    background-color: lightblue;
    z-index: 5;
  }

  #z2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: lightpink;
    z-index: 2;
    #z2-child {
      position: fixed;
      background-color: red;
      width: 3rem;
      height: 3rem;
    }
  }

  #z3 {
    position: relative;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    background-color: lightyellow;
    z-index: 3;
  }
}
