
.dropdown-shadow {
  box-shadow: 3px 5px 28px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 5px 28px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 28px -3px rgba(0, 0, 0, 0.75);
}
//rgba(42,121,186,1)
.button-shadow {
  box-shadow: 0 0 3px 3px dodgerblue;
  -webkit-box-shadow: 0 0 3px 3px dodgerblue;
  -moz-box-shadow: 0 0 3px 3px dodgerblue;
}

.dropdown-panel {

  .header {
    border-bottom: 1px solid lightgrey;
    padding: 4px;
    text-align: right;
  }

  .panel-content {
    padding: 4px;
  }

  border: 1px solid lightgrey;

  @extend .dropdown-shadow;
  position: absolute;
  background-color: white;
  padding: 0;
  font-weight: normal;

  ul {
    padding-left: 0;
    margin-left: 0;

    li {
      padding-left: 1rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }

    li.active {
      background-color: black;

      a {
        font-weight: bold;
        color: white;
      }
    }
  }

  //border: 1px solid darkgrey !important;
  #arrow {
    position: absolute;
    background: white;
    //border-top: 1px solid darkgrey;
    //border-left: 1px solid darkgrey;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }

  .close-panel-button {
    &:hover {
      background-color: lightgrey;
      cursor: pointer;
    }

    border-radius: 15px;
    padding-top: 0px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
  }
}

.dropdown-button.has-open-panel {
  @extend .button-shadow;
}
