
[data-controller="dropdown"].has-panel-open {
  box-shadow: -1px 1px 2px 1px rgba(245, 82, 59, 0.74);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(245, 82, 59, 0.74);
  -moz-box-shadow: -1px 1px 2px 1px rgba(245, 82, 59, 0.74);
}

[data-controller="dropdown"] {
  background-color: #243642;
  color: white;
  padding: 3px;
}

h3 {
  margin-top: 2rem !important;
}

body {
  padding: 1rem !important;
}

.text-red {
  color: red;
}

.text-grey {
  color: lightgrey;
}