.tooltip-label {
  text-decoration: underline;
  &:hover  {
    cursor: help;
  }
}

.tooltip-panel {
  #arrow {
    background-color: black;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    position: absolute;
  }
  background-color: black;
  padding: 0.3rem 1rem;
  display: inline-block;
  position: absolute;
  color: white;
}

.tooltip-is-visible {
  background-color: yellow;
}