



#scroller{ data: { controller: 'csedl-place-dropdown-panels', on: 'scroll resize-observer', run_after: 500 } }
  #viewport
    = dropdown('panel-at-place', panel_at_place: true, class: 'dropdown-2') do
      'content'
    %br
    = dropdown('panel-on-root', class: 'dropdown-1') do
      'content'

%p.text-grey
  This box is relative to the window height/width and with delay (transition/css)

%h3
  Fetch content from server (delayed) on opening
  = dropdown('btn', src: floating_dropdown_content_path) do
    'content'


%h3 Custom Events on opening and closing
= dropdown('btn', panel_id: 'panel3', button_id: 'button3') do
  'content'


%h3 Nested dropdowns
= dropdown('nest', placement: 'right-start') do
  .text-red
    Here are some bugs to fix: closing and arrow behaviour for nested dropdowns
  = dropdown('nest2', panel_at_place: true, placement: 'right-start') do
    = dropdown('nest3', panel_at_place: true, placement: 'right-start')


%h3 Tooltip
%p
  This is a
  = tooltip('tooltip') do
    tooltip-content
  = ' and this is a'
  = tooltip('tooltip with content from server', src: floating_dropdown_content_path) do
    tooltip-content
  = ' and with a long hover-delay'
  = tooltip('tooltip with content from server', src: floating_dropdown_content_path, delay: 0.8) do
    tooltip-content

