%h1
  Stacking context

#stacking-context-page
  #z1
    z-1
  #z2
    z-2
    #z2-child
      %span{data: {tooltip: true, click_open: 'true'}, tabindex: "1", title: "Fancy word for a beetle."}
        tooltip
      z-2-child
  #z3
    z-3