#overflowing-wrapper
  This div overflows the screen size

  - 20.times do |no|
    %li= no

  %button.dropdown-button#constrain-btn{ data: { controller: 'dropdown', toggle: 'overflowing-panel', panel_class: 'panel-4', constrain_to_window_borders: 'true' } }
    button => constrain_to_window_borders: true
  #overflowing-panel.hide
    - 20.times do |no|
      %li= no

  %button.dropdown-button{ data: { controller: 'dropdown', toggle: 'overflowing-panel', panel_class: 'panel-4' } }
    button => constrain_to_window_borders: false (default)
  #overflowing-panel.hide
    - 20.times do |no|
      %li= no


  %ul
    - 100.times do |no|
      %li= no
