!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stimulus Dropdown
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{ name: "stimulus-dropdown", content: "console-debug-log=#{@debug_log ? 'true' : 'false'}; close-panel-selector=.close-panel-button;" }/
    %meta{ name: "stimulus-dropdown", content: "dropdown-content-wrapper-selector=.panel-content;" }/
    %meta{ name: "stimulus-dropdown", content: "tooltip-content-wrapper-selector=.tooltip-content;" }/

    = csrf_meta_tags
    = csp_meta_tag

    =# stylesheet_link_tag "application", "data-turbo-track": "reload"
    = vite_stylesheet_tag 'application.scss', media: :all
    = javascript_importmap_tags
    = vite_client_tag
    = vite_javascript_tag 'application'
    /

  %body{ id: "#{action_name}-body".gsub('_','-') }

    %h2
      Rails Dropdown based on Stimulus and Floating-ui

    %p.page-head
      = link_to 'Stylesheets', 'https://gitlab.com/sedl/stimulusfloatingdropdown/-/tree/main/app/frontend/stylesheets?ref_type=heads'
      = ' | '
      = link_to 'View', 'https://gitlab.com/sedl/stimulusfloatingdropdown/-/blob/main/app/views/floating/index.haml?ref_type=heads'
      = ' | '
      = link_to 'Helpers', 'https://gitlab.com/sedl/stimulusfloatingdropdown/-/tree/main/app/helpers?ref_type=heads'
      = ' | '
      = link_to 'JS', 'https://gitlab.com/sedl/stimulusfloatingdropdown/-/tree/main/app/frontend/javascript?ref_type=heads'


      %span.float-right
        = link_to 'NPM', 'https://www.npmjs.com/package/@csedl/stimulus_dropdown'
        = ' | '
        = link_to 'GitLab', 'https://gitlab.com/sedl/stimulusfloatingdropdown'
        = ' | '
        = link_to 'floating-UI', 'https://floating-ui.com/'
        - if Rails.env.development?
          = ' | '
          = link_to 'Demo', 'http://stimulus-dropdown.sedlmair.ch'

    %span
      = "Console debug-log is"
      %strong
        = "#{@debug_log ? 'on' : 'off'}."
      Turn it
      = link_to "#{@debug_log ? 'off' : 'on'}", root_path(console_debug_log: (@debug_log ? 'false' : 'true'))
    = yield
    = yield :dropdown_panels